body{
    background-color: dark;
}

.container{
   height: 500px;
   padding: 16px;
   display: flex;
   padding-top: 40px;
   overflow-y: auto;
}
.message{
    background-color: grey;
    width: 24%;
    padding: 10px;
    margin: 17px 10px;
    border: 2px solid black;
    border-radius: 16px;
}
textarea{
    width: 100%;
    border: none;
    padding: 20px;
    outline: none;
    background-color: #FBFBF8;
}
.left{
    float: left;
    clear: both;
}
.right{
    float:right;
    clear:both
}
.send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 985px;
    width: 100%;
}
#MesageInput{
    width: 92%;
    height: 34px;
    border: 2px solid black;

}
.btn{
    cursor: pointer;

}